<div class="rmd-container" ng-controller="profile">
  <h3> All Your Sold Advertisement </h1></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specification</th>
        <th>Shipping from</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "eachItem in soldItemsData">
        <td> {{eachItem.name}}</td>
        <td> {{eachItem.specification}}</td>
        <td> {{eachItem.shipping}}</td>
        <td> {{eachItem.quantity}}</td>
        <td> {{eachItem.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
